
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px;
}

.dialogContainer a{
    text-decoration: none;
    color: #b54444;

}

.dialogItem {}


.messages {

}

.messageItem {

}

.button {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

}

.textarea {
    padding:15px;
}

.buttonContainer {
padding-left: 15px;
}