.header {
    grid-area: h;
    background-color: #d0d0d0;
    height:  75px;
    border-radius: 20px;




}

.header img {
    width: 120px;
}

.auth {
    font-size: 20px;
    padding: 10px;
    float: right;
}
.auth a {
    color: #5a2727;
}