.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  background-color: #dedbdb;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr 10fr;
  grid-template-areas: 'h h' 'n c';
}

.app-wrapper-content {
  grid-area: c;
  background-color: #07c6c6;

}